---
# Envoy Cluster Discovery Service (CDS) Configuration
# Defines upstream clusters for shadow-tls, node_exporter, and envoy admin

resources:
  # Shadow-TLS Server cluster (local)
  - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
    name: shadow_tls_server
    connect_timeout: 5s
    type: STATIC
    lb_policy: ROUND_ROBIN
    load_assignment:
      cluster_name: shadow_tls_server
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: 127.0.0.1
                    port_value: {{ shadowtls_server_listen_port }}
    upstream_connection_options:
      tcp_keepalive: {}

  # Node Exporter cluster (local metrics)
  - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
    name: node_exporter
    connect_timeout: 5s
    type: STATIC
    lb_policy: ROUND_ROBIN
    load_assignment:
      cluster_name: node_exporter
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: 127.0.0.1
                    port_value: {{ node_exporter_port }}

  # Envoy Admin cluster (internal access)
  - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
    name: envoy_admin
    connect_timeout: 5s
    type: STATIC
    lb_policy: ROUND_ROBIN
    load_assignment:
      cluster_name: envoy_admin
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: 127.0.0.1
                    port_value: {{ envoy_admin_port }}
