{{ envoy_log_path }}/*.log {
    daily
    rotate {{ envoy_log_rotate }}
    missingok
    notifempty
    compress
    delaycompress
    copytruncate
    maxage {{ envoy_log_rotate }}
    size {{ envoy_log_max_size }}
    create 0644 envoy envoy
}
