apiVersion: v1
kind: Secret
metadata:
  name: repo-{{ argocd_repo_url | regex_replace('[^a-zA-Z0-9]', '-') | lower }}
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_repo_url }}
{% if github_token is defined and github_token | length > 0 %}
  username: {{ github_username | default('') }}
  password: {{ github_token }}
{% elif argocd_repo_ssh_key is defined and argocd_repo_ssh_key | length > 0 %}
  sshPrivateKey: |
{{ argocd_repo_ssh_key | indent(4, true) }}
{% endif %}
