[Unit]
Description=Shadowsocks-Rust Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=shadowsocks
Group=shadowsocks
ExecStart={{ ss_server_bin_path }}/ssserver -c /etc/shadowsocks/config.json
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/shadowsocks

[Install]
WantedBy=multi-user.target
